// header-start

.header{
  background-color: #181F2B;
  padding-bottom: 75px;
  padding-top: 73px;
}

.header-all{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 176px;
height: 52px;
display: block;
}

.header-ul{
  display: flex;
  list-style: none;
}

.header-li{
  margin-left: 57px;
  margin-right: 58px;
}

.header-href{
  font-family: "Raleway", "sans-serif";
  text-decoration: none;
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #fff;
}


@media screen and (max-width:652px) {
  .logo{
    width: 80px;
height: 24px;
  }

  .header-href{
    font-size: 12px;
line-height: 14px;
  }
}


@media screen and (max-width:396px){
  .header-li{
    margin-left: 24px;
    margin-right: 25px;
  }
}

// header-end